* {
  font-size: x-large;
  font-weight: bold;
  margin: 0;
}

main {
  height: 100vh;
}

body {
  margin: 0;
}

.main {
  height: 800px;
  border: 3px solid black;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: 100px 1fr 100px;
  grid-template-areas:
    "topbar topbar topbar"
    "sidebar content Ads"
    "footer footer footer";
  gap: 10px;
}

.box {
  border: 3px solid black;
}

header {
  grid-area: topbar;
  color: black;
  background-color: aqua;
}

article {
  grid-area: content;
  color: black;
  background-color: green;
}

aside {
  grid-area: Ads;
  color: black;
  background-color: yellow;
}

nav {
  grid-area: sidebar;
  color: black;
  background-color: red;
}

footer {
  grid-area: footer;
  color: black;
  background-color: blue;
}
