:root {
  /*-------Primary--colors-----*/
  --background: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );

  /*-----Neutral-colors----------*/
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --DarkGrayish-Blue: hsl(232, 13%, 33%);
  font-family: "Montserrat";
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Montserrat";
  background-color: var(--Very-Light-Grayish-Blue);
}

h1 {
  color: var(--Grayish-Blue);
}

.toglle-container {
  width: 230px;
  margin: auto;
}

button {
  background: var(--background);
  border: none;
  border-radius: 5px;
  height: 43px;
  width: 265px;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: var(--Very-Light-Grayish-Blue);
}
